@using UT.SL.Helper
@using UT.SL.Security
@model UT.SL.Data.LINQ.Feedback
<div class="">
    @using (Ajax.BeginForm("Create", new { }, new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "SubmitResult",
    HttpMethod = "POST",
    LoadingElementId = "loadingAjax"
}, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
            <div class="" id="SubmitResult">
            </div>
            <div class="">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="PageURL">@Html.LabelFor(model => model.PageURL)</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.PageURL, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PageURL)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="Feedback1">@Html.LabelFor(model => model.Feedback1)</label>
                    <div class="col-sm-9">
                        @Html.TextAreaFor(model => model.Feedback1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Feedback1)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="submit" value="@(UT.SL.Model.Resource.App_Common.Submit)" id="submit" class="btn btn-primary" />
                        <input type="reset" value="@(UT.SL.Model.Resource.App_Common.Reset)" id="reset" class="btn btn-default reset" />
                        <a href="javascript:void(0);" class="btn btn-default closeWindow" onclick="$(this).closest('.ui-dialog-content').dialog('close');">@UT.SL.Model.Resource.App_Common.CloseWindow</a>
                    </div>
                </div>
            </div>
    }
    <script>
        $(function () {
            $("#PageURL").val(document.URL);
        });
    </script>
</div>
