@if (ViewBag.Show)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <a id="headerLink@((int)UT.SL.Model.Enumeration.MenuType.Survey)" href="@Url.Action("Harter", "Survey", new { area = "Admin" })">
                <span class="glyphicon glyphicon-question-sign"></span> @UT.SL.Model.Resource.App_Common.Survey @Html.Action("SurveyStatuse", "Survey", new { area = "Admin" })
            </a>
        </div>
    </div>
}
else
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <a id="headerLink@((int)UT.SL.Model.Enumeration.MenuType.Survey)" href="@Url.Action("SurveyReport", "Survey", new { area = "Admin" })">
                <span class="glyphicon glyphicon-question-sign"></span> @UT.SL.Model.Resource.App_Common.SurveyResults
            </a>
        </div>
    </div>
}