@using UT.SL.Helper
@using UT.SL.Security
@model FormModel<UT.SL.Data.LINQ.Assignment, List<SelectListItems>>
<div class="FivePxPadding paddingIt" data-showeditdelete="true">
    @using (Ajax.BeginForm("EditAssignment", new { }, new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    LoadingElementId = "loadingAjax",
    OnSuccess = "closeEditSection('objectItem" + (int)UT.SL.Model.Enumeration.ObjectType.Assignment + Model.FormObject.Id + "', '" + @Url.Action("GetOneObjectAfterEdit", "Course", new { area = "Admin", id = Model.FormObject.Id, type = (int)UT.SL.Model.Enumeration.ObjectType.Assignment }) + "')"
}, new { data_dom = "editAssignmentForm" + Model.FormObject.Id, @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group ">
            <label class="control-label col-sm-2">@UT.SL.Model.Resource.App_Common.Title</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.FormObject.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FormObject.Title)
            </div>
        </div>
        <div class="form-group ">
            <label class="control-label col-sm-2">@UT.SL.Model.Resource.App_Common.Body</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.FormObject.Body, new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.FormObject.Body)
            </div>
        </div>
        <div class="form-group ">
            <label class="control-label col-sm-2">@UT.SL.Model.Resource.App_Common.Attach</label>
            <div class="col-sm-10">
                <input name="assignmentFile" id="assignmentFile" type="file" data-kendouploader="true"
                       data-saveurl="@(Url.Action("SaveAssignmentFile", "Assignment", new { area = "admin", id = Model.FormObject.Id, overwite = 1 }))"
                       data-deleteurl="@(Url.Action("DeleteFile", "Assignment", new { area = "admin", id = Model.FormObject.Id }))" data-updateid="dummy" />
            </div>
        </div>
        if (Model.FormObject.FileContent != null)
        {
            @Html.Action("FileContentPreviewForDelete", "FileAnnotation", new { area = "Admin", objectId = Model.FormObject.Id, type = (int)UT.SL.Model.Enumeration.ObjectType.Assignment })
        }
        <div class="form-group ">
            <label class="control-label col-sm-2">@UT.SL.Model.Resource.App_Common.Topics</label>
            <div class="col-sm-10">
                @HelperUtils.CustomListBoxFor(Model.ExtraKnownData.First().SelectedIds, Model.ExtraKnownData.First().Items, "topicIds", UT.SL.Model.Resource.App_Common.ChooseTopics)
            </div>
        </div>
        <div class="form-group ">
            <label class="control-label col-sm-2">@UT.SL.Model.Resource.App_Common.To</label>
            <div class="col-sm-10">
                @HelperUtils.CustomListBoxFor(Model.ExtraKnownData.Last().SelectedIds, Model.ExtraKnownData.Last().Items, "groupIds", UT.SL.Model.Resource.App_Common.ChooseLearningGroups)
            </div>
        </div>
        <div class="form-group ">
            <label class="control-label col-sm-2">@UT.SL.Model.Resource.App_Common.DueDate</label>
            <div class="col-sm-10">
                @HelperUtils.DateInput(Model.FormObject.DueDate, "assignmentDueDateEdit" + Model.FormObject.Id, "FormObject.DueDate", "")
            </div>
        </div>
        <div class="form-group ">
            <div class="col-sm-offset-2 col-sm-10">
                <label class="labelAlign">
                    @if (Model.FormObject.GetLockedAfterExpiration.HasValue && Model.FormObject.GetLockedAfterExpiration.Value)
                    {
                        <input id="FormObject_GetLockedAfterExpiration_Value" type="checkbox" value="true" name="FormObject.GetLockedAfterExpiration" class="checkBoxAlign" checked="checked">
                    }
                    else
                    {
                        <input id="FormObject_GetLockedAfterExpiration_Value" type="checkbox" value="true" name="FormObject.GetLockedAfterExpiration" class="checkBoxAlign">
                    }
                    @UT.SL.Model.Resource.Assignment.GetLockedAfterExpiration
                </label>
            </div>
        </div>
        <div class="form-group ">
            <div class="col-sm-offset-2 col-sm-10">
                <label class="labelAlign">
                    @if (Model.FormObject.GradeFrom.HasValue && Model.FormObject.GradeFrom.Value > 0)
                    {
                        <input type="checkbox" id="gradeChanger" class="checkBoxAlign" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" id="gradeChanger" class="checkBoxAlign" />
                    }
                    @UT.SL.Model.Resource.App_Common.GradeFrom
                </label>
                @if (Model.FormObject.GradeFrom.HasValue && Model.FormObject.GradeFrom.Value > 0)
                {
                    @Html.TextBoxFor(model => model.FormObject.GradeFrom, new { data_num = "number", style = "margin-right:5px; margin-left:5px;" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.FormObject.GradeFrom, new { data_num = "number", disabled = "disabled", style = "margin-right:5px; margin-left:5px;" })
                }
            </div>
        </div>
        <div class="form-group ">
            <div class="col-sm-offset-2 col-sm-10">
                <label class="labelAlign">
                    @if (Model.FormObject.GroupSubmissionIsDemanded.HasValue && Model.FormObject.GroupSubmissionIsDemanded.Value)
                    {
                        <input id="FormObject_GroupSubmissionIsDemanded_Value" type="checkbox" value="true" name="FormObject.GroupSubmissionIsDemanded" class="checkBoxAlign" checked="checked">
                    }
                    else
                    {
                        <input id="FormObject_GroupSubmissionIsDemanded_Value" type="checkbox" value="true" name="FormObject.GroupSubmissionIsDemanded" class="checkBoxAlign">
                    }
                    @UT.SL.Model.Resource.Assignment.GroupSubmissionIsDemanded
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary btn-sm submit" title="@UT.SL.Model.Resource.App_Common.Submit"><span class=" glyphicon glyphicon-ok"></span></button>
                <button class="btn btn-default btn-sm closeEditSection " data-cellid="objectItem@((int)UT.SL.Model.Enumeration.ObjectType.Assignment)@(Model.FormObject.Id)" data-updateurl="@Url.Action("GetOneObjectAfterEdit", "Course", new { area = "Admin", id = Model.FormObject.Id, type = (int)UT.SL.Model.Enumeration.ObjectType.Assignment})" title="@UT.SL.Model.Resource.App_Common.Close"><span class=" glyphicon glyphicon-remove"></span></button>
                @Html.HiddenFor(model => model.FormObject.Id)
            </div>
        </div>
    }
    <script type="text/javascript">
        $(function () {
            initializeUploaderWithDon('editAssignmentForm@(Model.FormObject.Id)');
        });
    </script>
</div>