@using UT.SL.Helper
@using UT.SL.Security
@model UT.SL.Data.LINQ.Message
@using (Ajax.BeginForm("Send", "Message", new { area = "Admin", sendInThread = 1 }, new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    LoadingElementId = "loadingAjax",
    UpdateTargetId = "sendreport",
    OnSuccess = "resetForm('sendreport')"
}, new { data_dom = "sendMessage", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="sendreport" style="display:none"></div>
    <div class="form-group">
        <label class="control-label col-xs-2" for="">@UT.SL.Model.Resource.App_Common.Message</label>
        <div class="col-xs-10">
            @Html.TextAreaFor(model => model.Body, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Body)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2" for="">@UT.SL.Model.Resource.App_Common.Attach</label>
        <div class="col-xs-10">
            <input name="messageFile" id="messageFile" type="file" data-kendouploader="true" data-saveurl="@(Url.Action("SaveFile", "Message", new { area = "admin" }))" data-deleteurl="@(Url.Action("RemoveFile", "Message", new { area = "admin" }))" data-updateid="sendMessageId" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary submit" id="sendInThreadSubmit"> @UT.SL.Model.Resource.App_Common.Send </button>
        <a href="javascript:void(0);" class="btn btn-default deleteFileOnCancel" onclick="clearInterval(refreshIntervalId);" data-closemodal="true">@UT.SL.Model.Resource.App_Common.Close</a>
        <input name="Id" id="sendMessageId" type="hidden" data-resetonpost="true" value="" class="fileId" />
        <input type="hidden" name="Receivers" value="@ViewBag.Recv" />
    </div>
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { data_antiforgery = "true" }))
{
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    $(function () {
        initializeUploaderWithDon('sendMessage');
    });
</script>