@using UT.SL.Helper
@using UT.SL.Security
@model UT.SL.Model.EmailSearchModel
@{
    ViewBag.Title = UT.SL.Model.Resource.App_Common.Email;
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            highLight(@((int)UT.SL.Model.Enumeration.MenuType.Admin), @((int)UT.SL.Model.Enumeration.NavLinks.Email), true, false);
        });
    </script>
}
@section TopLinks{
    @Html.Action("TopMenuLinks", "Home", new { area = "", menuType = (int)UT.SL.Model.Enumeration.MenuType.Admin, extra = (int)UT.SL.Model.Enumeration.NavLinks.Email })
}
<div class="">
    <div class="row">
        <div class="col-md-12">
            <h2>@UT.SL.Model.Resource.App_Common.Email</h2>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>@UT.SL.Model.Resource.App_Common.Search</legend>
                @using (Ajax.BeginForm("IX", new { }, new AjaxOptions()
                     {
                         UpdateTargetId = "ResultList",
                         LoadingElementId = "loadingAjax",
                         HttpMethod = "Post",
                         InsertionMode = InsertionMode.Replace,
                     }, new { id = "searchForm", @class = "form-horizontal" }))
                {
                    @Html.Action("EmailSearchModelView", Model)
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <input type="submit" value="@(UT.SL.Model.Resource.App_Common.Submit)" id="submit" class="btn btn-default submit" />
                        </div>
                    </div>
                }
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="ResultList">
                @Html.Action("IX", Model)
            </div>
        </div>
    </div>    
</div>
