@using UT.SL.Helper
@using UT.SL.Security
@model UT.SL.Data.LINQ.Email
<div class="form-horizontal">
    @Html.AntiForgeryToken()
    <div class="" id="SubmitResult">
    </div>
    <div class="">
        <div class="form-group">
            <label class="control-label col-sm-3" for="SenderEmail">@Html.LabelFor(model => model.SenderEmail)</label>
            <div class="col-sm-9 readonly">
                @Html.DisplayFor(model => model.SenderEmail)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="Feedback1">@Html.LabelFor(model => model.ReceiverEmail)</label>
            <div class="col-sm-9 readonly">
                @Html.DisplayFor(model => model.ReceiverEmail)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="CreateDate">@Html.LabelFor(model => model.CreateDate)</label>
            <div class="col-sm-9 readonly">
                @HelperUtils.LocalizedDate(Model.CreateDate)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="UserId">@Html.LabelFor(model => model.UserId)</label>
            <div class="col-sm-9 readonly">
                @if (Model.UserId.HasValue)
                {
                    @Html.Action("GetUserProfileLink", "App_User", new { area = "admin", Id = Model.UserId.Value, type = (int)UT.SL.Model.Enumeration.ProfileLinkType.FullName })
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="Subject">@Html.LabelFor(model => model.Subject)</label>
            <div class="col-sm-9 readonly">
                @Html.DisplayFor(model => model.Subject)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="Body">@Html.LabelFor(model => model.Body)</label>
            <div class="col-sm-9 readonly">
                @Html.Raw(Model.Body)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <a href="javascript:void(0);" class="btn btn-default closeWindow" onclick="$(this).closest('.ui-dialog-content').dialog('close');">@UT.SL.Model.Resource.App_Common.CloseWindow</a>
            </div>
        </div>
    </div>
</div>
