@using UT.SL.Helper
@using UT.SL.Security
@model FormModel<UT.SL.Data.LINQ.Resource, List<SelectListItems>>

<div class="parentDiv">
    @using (Ajax.BeginForm("PostResource", new { }, new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    LoadingElementId = "loadingAjax",
    OnSuccess = "updateCourseResource"
}, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group alignCul">
            <div class="col-sm-1">@Html.Action("GetUserPic", "App_User", new { area = "admin", Id = ViewBag.UserId, type = (int)UT.SL.Model.Enumeration.ImageSizeType.Large })</div>
            <div class="col-sm-11">
                @Html.TextBoxFor(model => model.FormObject.Title, new { @class = "form-control", placeholder = UT.SL.Model.Resource.App_Common.EnterTitleHere })
                @Html.ValidationMessageFor(model => model.FormObject.Title)
            </div>
        </div>
        <div class="form-group alignCul">
            <label class="control-label col-sm-1">@UT.SL.Model.Resource.App_Common.Body</label>
            <div class="col-sm-11">
                @Html.TextAreaFor(model => model.FormObject.Body, new { @class = "form-control", placeholder = UT.SL.Model.Resource.App_Common.WhatIsYourMind })
                @Html.ValidationMessageFor(model => model.FormObject.Body)
            </div>
        </div>
        <div class="form-group hiddenFileUpload alignCul">
            <label class="control-label col-sm-1">@UT.SL.Model.Resource.App_Common.Attach</label>
            <div class="col-sm-11">
                <input name="resourceFile" id="resourceFile" type="file" data-kendouploader="true" data-saveurl="@(Url.Action("SaveResource", "Course", new { area = "admin", Id = Model.FormObject.CourseId }))" data-deleteurl="@(Url.Action("RemoveResource", "Course", new { area = "admin" }))" data-updateid="resourceId" />
            </div>
        </div>
        <div class="form-group hiddenShareOption alignCul">
            <label class="control-label col-sm-1">@UT.SL.Model.Resource.App_Common.Topics</label>
            <div class="col-sm-11">
                @HelperUtils.CustomListBoxFor(Model.ExtraKnownData.First().SelectedIds, Model.ExtraKnownData.First().Items, "topicIds", null)
            </div>
        </div>
        <div class="form-group hiddenShareOption alignCul">
            <label class="control-label col-sm-1">@UT.SL.Model.Resource.App_Common.To</label>
            <div class="col-sm-11">
                @HelperUtils.CustomListBoxFor(Model.ExtraKnownData.Last().SelectedIds, Model.ExtraKnownData.Last().Items, "groupIds", UT.SL.Model.Resource.App_Common.ChooseLearningGroups)
            </div>
        </div>
        <div class="form-group alignCul">
            <div class="col-md-offset-1 col-md-11">
                <div class="">
                    <button class="btn btn-primary submit" type="submit" id="coursePostSubmit" data-hidekendoupload="true">@UT.SL.Model.Resource.App_Common.Submit</button>
                    <div class="btn btn-default cancelClick deleteFileOnCancel" data-show="postTemplate" data-hide="postResourceTemplate" data-toggleclass="mainPortal" data-hideit="true">@UT.SL.Model.Resource.App_Common.Cancel</div>
                </div>
                <input name="FormObject.Id" id="resourceId" type="hidden" data-resetonpost="true" value="" class="fileId" />
                <input id="resourceUpdateUrl" type="hidden" value="@Url.Action("GetOneResource", "Course", new { area = "admin" })" />
                @Html.HiddenFor(model => model.FormObject.CourseId)
            </div>
        </div>
    }

    @using (Html.BeginForm(null, null, FormMethod.Post, new { data_antiforgery = "true" }))
    {
        @Html.AntiForgeryToken()
    }
</div>

@*<script type="text/javascript">
        $('#myDiv').submit(function () {
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $.ajax({
                url: $(this).data('url'),
                type: 'POST',
                data: {
                    __RequestVerificationToken: token,
                    someValue: 'some value'
                },
                success: function (result) {
                    alert(result.someValue);
                }
            });
            return false;
        });
    </script>*@