@using UT.SL.Helper
@using UT.SL.Security
@model FormModel<UT.SL.Data.LINQ.Course, SelectListItems>
<div class="">
    @using (Ajax.BeginForm("Create", new { }, new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "SubmitResult",
    HttpMethod = "POST",
    LoadingElementId = "loadingAjax"
}, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="" id="SubmitResult">
        </div>
        <div class="">
            <div class="form-group">
                <label class="control-label col-sm-3" for="">@UT.SL.Model.Resource.App_Common.Category</label>
                <div class="col-sm-9">
                    @Model.ExtraData.First().ToString()
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="">@UT.SL.Model.Resource.App_Common.Topics</label>
                <div class="col-sm-9">
                    @foreach (var item in Model.ExtraKnownData.Items)
                    {
                        <span class="label label-info">@item.Text</span>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="">@Html.LabelFor(model => model.FormObject.Title)</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.FormObject.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FormObject.Title)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="">@Html.LabelFor(model => model.FormObject.About)</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.FormObject.About, new { data_editor = "true", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FormObject.About)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="">@Html.LabelFor(model => model.FormObject.UniversityTitle)</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.FormObject.UniversityTitle, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FormObject.UniversityTitle)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="">@Html.LabelFor(model => model.FormObject.StartDate)</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.FormObject.StartDate, new { data_datetimeui = "true", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FormObject.StartDate)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="">@Html.LabelFor(model => model.FormObject.EndDate)</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.FormObject.EndDate, new { data_datetimeui = "true", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FormObject.EndDate)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit" value="@(UT.SL.Model.Resource.App_Common.Submit)" id="submit" class="btn btn-primary submit" />
                    <input type="reset" value="@(UT.SL.Model.Resource.App_Common.Reset)" id="reset" class="btn btn-default reset" />
                    <a href="javascript:void(0);" class="btn btn-default closeWindow" onclick="$(this).closest('.ui-dialog-content').dialog('close');">@UT.SL.Model.Resource.App_Common.CloseWindow</a>
                    @Html.HiddenFor(model => model.FormObject.CourseAbstractId)
                </div>
            </div>
        </div>
    }
    <script>
        $(function () {
            $.InitialComponents();
        });
    </script>
</div>
