@using UT.SL.Helper
@using UT.SL.Security
@model UT.SL.Model.ObjectViewModel

<div class="row contentLoad hidescope@(Model.Type)@(Model.Id)" data-showeditdelete="true">
    <div class="col-md-12">
        <div class="onEdge" data-showonedge="true">
            <div class="feedDivFooterTags tagsOnEdgeConteiner">
                @Html.Action("TopTopics", "TagMapper", new { area = "admin", objectId = Model.Id, type = Model.Type })
            </div>
        </div>
        <div class="feedDiv ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <table class="widePic">
                            <tr>
                                <td>
                                    @Html.Action("GetUserPic", "App_User", new { area = "admin", Id = Model.CreateUser.Id, type = (int)UT.SL.Model.Enumeration.ImageSizeType.Medium })
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="inline" style="width:100%;">
                                                <div class="inline">
                                                    @if (Model.Type == (int)UT.SL.Model.Enumeration.ObjectType.Resource)
                                                    {
                                                        <span class="glyphicon glyphicon-file"></span>
                                                    }
                                                    else if (Model.Type == (int)UT.SL.Model.Enumeration.ObjectType.Assignment)
                                                    {
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    }
                                                    else if (Model.Type == (int)UT.SL.Model.Enumeration.ObjectType.Forum)
                                                    {
                                                        <span class="glyphicon glyphicon-comment"></span>
                                                    }
                                                    <strong>
                                                        @if (!string.IsNullOrEmpty(Model.Title))
                                                        {
                                                            @Ajax.AuthorizationActionLink(User.Identity.Name, Model.Id, Model.Type, Model.Title, "GetOneReadenObject", "Course", new { area = "admin", Id = Model.Id, type = Model.Type },
                                                                     new AjaxOptions()
                                                                     {
                                                                         HttpMethod = "GET",
                                                                         InsertionMode = InsertionMode.Replace,
                                                                         UpdateTargetId = "readenContent" + Model.Type + Model.Id,
                                                                         OnSuccess = " $('#readenContentPreview" + Model.Type + Model.Id + "').slideUp(300);$('#readenContent" + Model.Type + Model.Id + "').show();$('.hidescope" + Model.Type + "" + Model.Id + "').find('[data-hideafterclick]').hide();",
                                                                         LoadingElementId = "loadingAjax"
                                                                     }, new { @class = "hideAfterClick" })
                                                        }
                                                        else if (!string.IsNullOrEmpty(Model.Body))
                                                        {
                                                            @Ajax.AuthorizationActionLink(User.Identity.Name, Model.Id, Model.Type, HelperUtils.ShortenStringForPreview(Model.Body, string.Empty, string.Empty).ToString(), "GetOneReadenObject", "Course", new { area = "admin", Id = Model.Id, type = Model.Type },
                                                                         new AjaxOptions()
                                                                         {
                                                                             HttpMethod = "GET",
                                                                             InsertionMode = InsertionMode.Replace,
                                                                             UpdateTargetId = "readenContent" + Model.Type + Model.Id,
                                                                             OnSuccess = " $('#readenContentPreview" + Model.Type + Model.Id + "').slideUp(300);$('#readenContent" + Model.Type + Model.Id + "').show();$('.hidescope" + Model.Type + "" + Model.Id + "').find('[data-hideafterclick]').hide();",
                                                                             LoadingElementId = "loadingAjax"
                                                                         }, new { @class = "hideAfterClick", title = HelperUtils.ShortenStringForTitle(Model.Body, string.Empty, string.Empty).ToString() })
                                                        }
                                                        else if (!string.IsNullOrEmpty(Model.FileTitle))
                                                        {
                                                            @Ajax.AuthorizationActionLink(User.Identity.Name, Model.Id, Model.Type, Model.FileTitle, "GetOneReadenObject", "Course", new { area = "admin", Id = Model.Id, type = Model.Type },
                                                                  new AjaxOptions()
                                                                  {
                                                                      HttpMethod = "GET",
                                                                      InsertionMode = InsertionMode.Replace,
                                                                      UpdateTargetId = "readenContent" + Model.Type + Model.Id,
                                                                      OnSuccess = " $('#readenContentPreview" + Model.Type + Model.Id + "').slideUp(300);$('#readenContent" + Model.Type + Model.Id + "').show(); $('.hidescope" + Model.Type + "" + Model.Id + "').find('[data-hideafterclick]').hide();",
                                                                      LoadingElementId = "loadingAjax"
                                                                  }, new { @class = "hideAfterClick" })
                                                        }
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="inline">
                                                <div class="inline">
                                                    <span class="feedDivLessImportant">
                                                        @Html.Action("GetUserProfileLink", "App_User", new { area = "admin", Id = Model.CreateUser.Id, type = (int)UT.SL.Model.Enumeration.ProfileLinkType.FullName })
                                                        @Html.Action("FindViaWhatItWasShared", "Share", new { area = "Admin", objectId = Model.Id, objectType = Model.Type })
                                                    </span>
                                                </div>

                                                @*این کد را نوشته ام تا در درس شیوه آی دی های زوج شخصی سازی زماندار نداشته باشند.*@
                                                @if (!(((int)Membership.GetUser(User.Identity.Name).ProviderUserKey % 2) == 0 
                                                        && (Model.CourseId == 39 || Model.CourseId == 41)))
                                                {
                                                    if (Model.Type == (int)UT.SL.Model.Enumeration.ObjectType.Resource)
                                                    {
                                                        <div class="inline">
                                                            @if (Model.ClickedDate.HasValue)
                                                            {
                                                                @Html.Action("CountNewComments", "Comment", new { area = "Admin", id = Model.Id, type = Model.Type, clickedDate = Model.ClickedDate.Value })
                                                            }
                                                        </div>
                                                        <div class="inline">
                                                            @if (Model.ClickedDate.HasValue)
                                                            {
                                                                @Html.Action("CountNewTags", "TagMapper", new { area = "Admin", id = Model.Id, type = Model.Type, clickedDate = Model.ClickedDate.Value })
                                                            }
                                                        </div>
                                                        <div class="inline">
                                                            @if (Model.ClickedDate.HasValue)
                                                            {
                                                                @Html.Action("CountNewVotes", "VoteParent", new { area = "Admin", id = Model.Id, type = Model.Type, clickedDate = Model.ClickedDate.Value })
                                                            }
                                                        </div>
                                                    }
                                                    else if (Model.Type == (int)UT.SL.Model.Enumeration.ObjectType.Assignment)
                                                    {
                                                        <div class="inline">
                                                            @if (Model.ClickedDate.HasValue)
                                                            {
                                                                @Html.Action("CountNewComments", "Comment", new { area = "Admin", id = Model.Id, type = Model.Type, clickedDate = Model.ClickedDate.Value })
                                                            }
                                                        </div>
                                                    }
                                                    else if (Model.Type == (int)UT.SL.Model.Enumeration.ObjectType.Forum)
                                                    {
                                                        <div class="inline">
                                                            @if (Model.ClickedDate.HasValue)
                                                            {
                                                                @Html.Action("CountNewTags", "TagMapper", new { area = "Admin", id = Model.Id, type = Model.Type, clickedDate = Model.ClickedDate.Value })
                                                            }
                                                        </div>
                                                        <div class="inline">
                                                            @if (Model.ClickedDate.HasValue)
                                                            {
                                                                @Html.Action("CountNewVotes", "VoteParent", new { area = "Admin", id = Model.Id, type = Model.Type, clickedDate = Model.ClickedDate.Value })
                                                            }
                                                        </div>
                                                        <div class="inline">
                                                            @if (Model.ClickedDate.HasValue)
                                                            {
                                                                @Html.Action("CountNewDiscussions", "ForumDiscussion", new { area = "Admin", id = Model.Id, type = Model.Type, clickedDate = Model.ClickedDate.Value })
                                                            }
                                                        </div>
                                                        <div class="inline">
                                                            @if (Model.ClickedDate.HasValue)
                                                            {
                                                                @Html.Action("CountNewReplies", "ForumDiscussion", new { area = "Admin", id = Model.Id, type = Model.Type, clickedDate = Model.ClickedDate.Value })
                                                            }
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>