@using UT.SL.Helper
@using UT.SL.Security
@model PagedList<UT.SL.Data.LINQ.ObjectStream>
@{
    int i = Model.PagingItem.PageIndex * Model.PagingItem.PageSize;
    PagingItems sobj = Model.PagingItem;
    int ix = sobj.PageIndex;
}
<div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th colspan="4">
                    @UT.SL.Model.Resource.App_Common.NewsFromYourFriends
                </th>
            </tr>
        </thead>
        <tbody id="art_ls">

            @if (Model.Count == 0)
            {
                <tr>
                    <td>
                        @UT.SL.Model.Resource.App_Common.ThereIsNoNews
                    </td>
                </tr>
            }
            @foreach (var item in Model)
            {
                i++;
                int j = 0;
                <tr>
                    <td>
                        @if (item.App_User != null)
                        {
                            @Html.Action("GetUserPic", "App_User", new { area = "admin", Id = item.UserId, type = (int)UT.SL.Model.Enumeration.ImageSizeType.GetPanelPic })
                        }
                    </td>
                    <td>
                        @if (item.App_User != null)
                        {
                            @Html.Action("GetUserProfileLink", "App_User", new { area = "admin", Id = item.UserId, type = (int)UT.SL.Model.Enumeration.ProfileLinkType.FirstName })
                        }
                    </td>

                    @*<td>
                        @Html.Action("GetObjectTitle", "Home", new { objectId = item.ObjectId, objectType = item.ObjectType })
                    </td>*@
                    <td>
                        <span class="feedDivLessImportant">
                            @Html.Action("GetObjectBody", "Home", new { objectId = item.ObjectId, objectType = item.ObjectType })
                        </span>
                    </td>

                    <td class="hidden-xs feedDivLessImportant paleIt">
                        <span>
                            @HelperUtils.ShowRecentTime(item.CreateDate)
                        </span>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <span>@UT.SL.Model.Resource.App_Common.NumOfAll : @Model.PagingItem.TotalItemCount</span>
                    @UT.SL.Model.Resource.App_Common.Page @(ix + 1)
                    @UT.SL.Model.Resource.App_Common.From @Model.PagingItem.TotalPageCount

                    <div class="divHeight30">
                        <ul class="pagination pagination-sm marginPaging">
                            @{
                                var start = ix;
                                if (start > 0)
                                {
                                    int c = 0;
                                    while (start > 0 && c < 4)
                                    {
                                        c++;
                                        start--;
                                    }
                                }
                                if (ix != 0)
                                {
                                    sobj.PageIndex = 0;
                                    <li>
                                        @Ajax.ActionLink("<< ", "CourseResourceSummary", "Home", sobj,
                            new AjaxOptions
                            {
                                UpdateTargetId = "resourceResult",
                                HttpMethod = "post",
                                InsertionMode = InsertionMode.Replace,
                                LoadingElementId = "loadingAjax"
                            }
                            , new { id = "First" })
                                    </li>
                                }
                                for (int j = start; j < Model.PagingItem.TotalPageCount && j < start + 10; j++)
                                {
                                    if (ix != j)
                                    {
                                        sobj.PageIndex = j;
                                        <li>
                                            @Ajax.ActionLink((j + 1).ToString(), "CourseResourceSummary", "Home", sobj,
                            new AjaxOptions
                            {
                                UpdateTargetId = "resourceResult",
                                HttpMethod = "post",
                                InsertionMode = InsertionMode.Replace,
                                LoadingElementId = "loadingAjax"
                            }
                            , new { })
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="active"><a href="javascript:void(0);">@(j + 1)</a> </li>
                                    }
                                }
                                if (start + 9 < Model.PagingItem.TotalPageCount)
                                {
                                    <li>
                                        @Ajax.ActionLink(" >>", "CourseResourceSummary", "Home", sobj,
                            new AjaxOptions
                            {
                                UpdateTargetId = "resourceResult",
                                HttpMethod = "post",
                                InsertionMode = InsertionMode.Replace,
                                LoadingElementId = "loadingAjax"
                            }
                            , new { id = "Last" })
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
