@using UT.SL.Helper
@model UT.SL.Model.ChangePasswordModel
<div class="">
    @using (Ajax.BeginForm("ChangePassword", new { }, new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "SubmitResultCP",
    HttpMethod = "POST",
    LoadingElementId = "loadingAjax"
}, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="" id="SubmitResultCP">
        </div>
        <div class="">
            <div class="form-group">
                <label class="control-label col-sm-4" for="">@Html.LabelFor(model => model.OldPassword)</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control", type = "password", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="">@Html.LabelFor(model => model.NewPassword)</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", type = "password", autocomplete = "off" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="">@Html.LabelFor(model => model.ConfirmPassword)</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", type = "password", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <input type="submit" value="@(UT.SL.Model.Resource.App_Common.Submit)" id="submit" class="btn btn-primary submit" />
                    <a href="javascript:void(0);" class="btn btn-default closeWindow" onclick="$(this).closest('.ui-dialog-content').dialog('close');">@UT.SL.Model.Resource.App_Common.CloseWindow</a>
                    @Html.HiddenFor(model => model.Guid)
                </div>
            </div>
        </div>
    }
    <script>
        $(function () {
            resetFields();
        });
    </script>
</div>
