@using UT.SL.Helper
@using UT.SL.Security
@model UT.SL.Data.LINQ.App_User
<div class="">
    @using (Ajax.BeginForm("Delete", new { },
    new AjaxOptions()
    {
        Confirm = UT.SL.Model.Resource.App_Common.AreYouSure,
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "SubmitResult",
        LoadingElementId = "loadingAjax"
    }, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="" id="SubmitResult">
        </div>
        <div class="">
            <div class="form-group">
                <label class="control-label col-sm-3" for="UserName">@Html.LabelFor(model => model.UserName)</label>
                <div class="col-sm-9 readonly">
                    @Html.DisplayFor(model => model.UserName)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="FirstName">@Html.LabelFor(model => model.FirstName)</label>
                <div class="col-sm-9 readonly">
                    @Html.DisplayFor(model => model.FirstName)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="LastName">@Html.LabelFor(model => model.LastName)</label>
                <div class="col-sm-9 readonly">
                    @Html.DisplayFor(model => model.LastName)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="Email">@Html.LabelFor(model => model.Email)</label>
                <div class="col-sm-9 readonly">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit" value="@(UT.SL.Model.Resource.App_Common.Submit)" id="submit" class="btn btn-primary submit" />
                    <a href="javascript:void(0);" class="btn btn-default closeWindow" onclick="$(this).closest('.ui-dialog-content').dialog('close');">@UT.SL.Model.Resource.App_Common.CloseWindow</a>
                    @Html.HiddenFor(model => model.GuidId)
                </div>
            </div>
        </div>
    }
    <script>
        $(function () {
            $.InitialComponents();
        });
    </script>
</div>
