@model UT.SL.Data.LINQ.App_User
@{
    int cnt = 1;
    int skipper = 0;
}

@for (int i = 0; i < Model.App_UserEnrolements.Where(x => x.Type == 3).Count() / 3 + 1; i++)
{
    <div class="row">
        @foreach (var item in Model.App_UserEnrolements.Where(x => x.Type == 3).Skip(skipper * 3).Take(3))
        {
            <div class="col-md-4">
                <div class="utwell pointercursor" style="text-align: center; margin-bottom: 30px; margin-top: 10px" data-updateabletwo="true" data-updateurl="@Url.Action("GetGradeChart", "App_User", new { area = "admin", userId = Model.GuidId, courseId = item.CourseId })" data-updateid="gradechart" data-updateurl2="@Url.Action("GetProgressChart", "App_User", new { area = "admin", userId = Model.GuidId, courseId = item.CourseId })" data-updateid2="progresschart">
                    <div class="row">
                        <div class="col-md-12 ">
                            @item.Course.Title
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @UT.SL.Model.Resource.App_Common.Grades
                            @Model.App_UserGrades.Where(x => x.AverageGrade.CourseId == item.CourseId).Count()
                            @UT.SL.Model.Resource.App_Common.Topics
                            @if (item.Course.CourseAbstract != null)
                            {
                                @item.Course.CourseAbstract.CourseTopcMappers.Count()
                            }
                            else
                            {
                                @:0
                        }
                        </div>
                    </div>
                </div>
            </div>
                            cnt++;
        }
    </div>
        skipper++;
}
<div class="row">
    <div class="col-md-12">
        <div id="gradechart">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="progresschart">
        </div>
    </div>
</div>
